<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div>

            <p class="paragraph-text justify-text">Actively seeking 2021 professional opportunities</p>

            <p class="paragraph-text justify-text">
                Background
                <ul>
                    <li>Junior at Georgetown University</li>
                    <li>From: Lincoln, NE</li>
                    <li>Currently: business student studying Finance & Information Systems with a Computer Science Minor</li>
                    <li>Campus Activities: Georgetown Fintech, Club Tennis, DC Reads, Sigma Chi</li>
                </ul>
            </p>

            <p class="paragraph-text justify-text">
                Currently Learning
                <ul>
                    <li>SQL</li>
                </ul>
            </p>

            <p class="paragraph-text justify-text">
                Interests
                <ul>
                    <li>Data</li>
                    <li>FinTech</li>
                    <li>Machine Learning</li>
                </ul>
            </p>

            <p class="paragraph-text justify-text">
                Hobbies
                <ul>
                    <li>Tennis</li>
                    <li>Escape Games</li>
                    <li>Hiking</li>
                </ul>
            </p>
            <!-- <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p> -->
        </div>
    </section>
</div>
