<div class="section-wrapper">



    <style>
        * {
          box-sizing: border-box;
        }
        
        /* Container for flexboxes */
        .row {
          display: flex;
          flex-wrap: wrap;
        }
        
        /* Create four equal columns */
        .column {
          flex: 25%;
          padding: 20px;
        }
        
        /* On screens that are 992px wide or less, go from four columns to two columns */
        @media screen and (max-width: 992px) {
          .column {
            flex: 50%;
          }
        }
        
        /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .row {
            flex-direction: column;
          }

          .container_text {
              display: inline-table;
          }


          .container_image {
            width: unset;
            margin: 0;
            float: none;
        }


        }

        .container_image {
            width: 250px;
            margin: 6px 20px 20px 0;
            float: left;
        }

        .container_text {
        }



    </style>




    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div>

            <!-- <p class="paragraph-text center-text">Actively seeking professional opportunities in data analytics for summer 2021.</p> -->



                <img class="container_image" src = "../assets/images/me_opal.JPG" >
                
                <div class="container_text"> 
                <p class="paragraph-text justify-text">

                Hi, my name is Will and I am an undergraduate Junior at Georgetown University where I study Finance, Operations & Analytics, and Computer Science.
                <br><br>
                I grew up solving jigsaw puzzles and Rubik’s cubes. Today, it’s the same curiosity with solving problems that drives me to study data analytics.
                <br><br>
                I love the challenge of sifting through large data sets to discover meaningful insight and then telling a story about my conclusions that can easily be understood by others. To me, the field of business intelligence is all about bridging technical analysis with creativity, which are two skills I am committed to strengthening.
                <br><br>
                I am currently searching for professional opportunities for summer 2021 where I can utilize these skills and interests to help an organization’s needs.
                <br><br>
                I’ve uploaded some of my personal projects here to demonstrate my qualifications. Check them out if you’d like, and don’t hesitate to reach out for any reason. I’m always open to connect or collaborate!
            </p>

            </div>
<!-- 
            <div class="column">
                test
            </div> -->





            
            <!-- <div class="row">
                <div class="column">
                    <p class="paragraph-text justify-text">
                        Background
                        <ul class="paragraph-text">
                            <li>Junior at Georgetown University</li>
                            <li>From: Lincoln, NE</li>
                            <li>Majors: Finance & Information Systems</li>
                            <li>Minor: Computer Science</li>
                            <li>Campus Activities: Georgetown Fintech, Club Tennis, DC Reads, Sigma Chi</li>
                        </ul>
                    </p>
                </div>

                <div class="column">
                    <p class="paragraph-text justify-text">
                        Currently Learning
                        <ul class="paragraph-text">
                            <li>SQL</li>
                            <li>R</li>
                        </ul>
                    </p>
                </div>

                <div class="column">
                    <p class="paragraph-text justify-text">
                        Interests
                        <ul class="paragraph-text">
                            <li>Data</li>
                            <li>FinTech</li>
                            <li>Machine Learning</li>
                        </ul>
                    </p>
                </div>

                <div class="column">
                    <p class="paragraph-text justify-text">
                        Hobbies
                        <ul class="paragraph-text">
                            <li>Tennis</li>
                            <li>Escape Rooms</li>
                            <li>Hiking</li>
                        </ul>
                    </p>
                </div> -->


            <!-- <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p> -->
        </div>
    </section>
</div>
