
<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies" style="position:absolute;left:50%;">

                    <a id="featured" class="semi-transparent-button with-border white-button" style="color:white;" onclick="selected('featured')">Featured</a>
                    <a id="python" class="semi-transparent-button with-border white-button" style="color:white;" onclick="selected('python')">Python</a>
                    <a id="vba" class="semi-transparent-button with-border white-button" style="color:white;" onclick="selected('vba')">VBA</a>
                    <a id="all" class="semi-transparent-button with-border white-button" style="color:white;" onclick="selected('all')">All</a>
                    <!-- <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('native')">Native</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">Security</a>
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('diy')">DIY</a> -->  

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>