
<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            
                <div class="project-technologies">

                    <style>
                        .white-button-hover {
                            color: #fff;
                            background: url(../images/background.png);
                            background-image: initial;
                            background-position-x: initial;
                            background-position-y: initial;
                            background-size: initial;
                            background-repeat-x: initial;
                            background-repeat-y: initial;
                            background-attachment: initial;
                            background-origin: initial;
                            background-clip: initial;
                            background-color: transparent;
                            cursor: pointer;
                        }
                        </style>

                    <a id="featured" class="semi-transparent-button with-border white-button-hover" onclick="selected('featured')">FEATURED</a>
                    <a id="python" class="semi-transparent-button with-border white-button-hover" onclick="selected('python')">PYTHON</a>
                    <a id="tableau" class="semi-transparent-button with-border white-button-hover" onclick="selected('tableau')">TABLEAU</a>
                    <a id="vba" class="semi-transparent-button with-border white-button-hover" onclick="selected('vba')">VBA</a>
                    <a id="all" class="semi-transparent-button with-border white-button-hover" onclick="selected('all')">ALL</a>
                    <!-- <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('native')">Native</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">Security</a>
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('diy')">DIY</a> -->  

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>

