
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div class="length" style="width:80%;">
            <div class="section-heading" id="skills-text">Technical Skills</div>

            <div class="skills-grid">
                <!-- <div class="what-i-do">
                    <h3 class="paragraph-text center-align">Currently Learning: <br>Tableau, R, SQL, and SAS</h3>
                    <p class="paragraph-text justify-align">
                        Most Skilled in: Python, Excel/VBA 
                    </p>
                    <p class="paragraph-text justify-text">
                        Currently Learning: SQL, R
                    </p>
                </div> -->
                <div class="technical-skills justify-text">
                    <!-- <h3 class="center-align skills-subsection">Technical</h3> -->
                    <div class="progress-bars">


                        <div class="rows">

        


                            <div class="skillbar clearfix " data-percent="95%">
                                <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                                <div class="skill-bar-percent">95%</div>
                            </div> <!-- End Skill Bar -->

                            <div class="skillbar clearfix " data-percent="95%">
                                <div class="skillbar-title" style="background: #2980b9;"><span>R</span></div>
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                                <div class="skill-bar-percent">95%</div>
                            </div> <!-- End Skill Bar -->

                            <div class="skillbar clearfix " data-percent="95%">
                                <div class="skillbar-title" style="background: #2980b9;"><span>Excel</span></div>
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                                <div class="skill-bar-percent">95%</div>
                            </div> <!-- End Skill Bar -->

                            <div class="skillbar clearfix " data-percent="95%">
                                <div class="skillbar-title" style="background: #2980b9;"><span>Tableau</span></div>
                                <div class="skillbar-bar" style="background: #3498db"></div>
                                <div class="skill-bar-percent">95%</div>
                            </div> <!-- End Skill Bar -->



                        </div>


                        <div class="rows">


                            <div class="skillbar clearfix " data-percent="90%">
                                <div class="skillbar-title" style="background: #2980b9;"><span>C++</span></div>
                                <div class="skillbar-bar" style="background: #3498db"></div>
                                <div class="skill-bar-percent">90%</div>
                            </div> <!-- End Skill Bar -->
                            
                            <div class="skillbar clearfix " data-percent="85%">
                                <div class="skillbar-title" style="background: #2980b9;"><span>SQL</span></div>
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                                <div class="skill-bar-percent">85%</div>
                            </div> <!-- End Skill Bar -->
                            

                            <div class="skillbar clearfix " data-percent="85%">
                                <div class="skillbar-title" style="background: #2980b9"><span>Java</span></div>
                                <div class="skillbar-bar" style="background: #3498db"></div>
                                <div class="skill-bar-percent">85%</div>
                            </div> 
                            <!-- <div class="skillbar clearfix " data-percent="75%">
                                <div class="skillbar-title" style="background: #2980b9"><span>R</span></div>
                                <div class="skillbar-bar" style="background: #3498db"></div>
                                <div class="skill-bar-percent">75%</div>
                            </div> 
                            <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-title" style="background: #2980b9"><span>SQL</span></div>
                                <div class="skillbar-bar" style="background: #3498db"></div>
                                <div class="skill-bar-percent">60%</div>
                            </div> 
                            <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-title" style="background: #2980b9"><span>SAS</span></div>
                                <div class="skillbar-bar" style="background: #3498db"></div>
                                <div class="skill-bar-percent">60%</div>
                            </div>  -->


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
